<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Document</title>
</head>
<body>
    <% if (userRole === 'admin') { %>
        <h1>Hola <%= user %>, puedes registrar a una persona.</h1>
        <div>
            
        </div> He metido este cambio AQUÍ
        <a href="/users/register">Registra a una persona</a>
    <% } else { %>
        <h1>Hola Alvaro</h1>
    <% } %>
    <a href="/users/logout">Logout</a>
</body>
</html>

